<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
     <nav
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      "
    >
      <h1 style="">Khatabook</h1>
      <div style="">
        <ul style="display: flex; list-style: none; gap: 20px">
          <li>
            <a href="/" style="text-decoration: none; color: black">Home</a>
          </li>
          <li>
            <a href="khatabook" style="text-decoration: none; color: black"
              >Creat New Hisab</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div style="display: flex; flex-direction: column; gap :20px; margin-top: 50px;">
     <h1>creat Khatabook</h1>
   <input style="height: 300px; width: 60%; " type="text" placeholder="Enter hisab name " />
    <button style="width: 150px; height: 50px;">creat hisab</button>
    </div>

      
</body>
</html>  